@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #000000;
    --warning-color: #ffc107;
}

.input-group{
  color:red;
  flex-wrap: wrap;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction:column;
    justify-content: left;
    min-height: 100vh;   
}
h4{
  padding-top: 90px;
}

input{
  background-color: #ffffff;
  border-radius: 4px;
  border-style: double;
 }
 button{
   background-color: #222222;
   border-radius: 10px;
   color:#ffffff;
 }
 
 hr{
   color:#222222;
 }
 

.form:hover {
  box-shadow:9px 9px 9px  #6f6f6f;
}

.form.orderform{
  width : 650px;
  border-color: #2c3e50;
}


.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 10px;
}

.form-field input {
 
    border: solid 2px #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
    box-shadow: #888;
}

.form-field input:hover{
  border-color: #000000;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-label{
 font-weight: bold;
 color: #2c3e50;
}
.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}
.navbar {
background:rgb(255, 255, 255); 
  position: fixed;
  z-index: 1;
  text-align: center;
}

.nav-item{
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.navbar-toggler{
  background-color: #222222;

}
.nav-link{
  color:#2c3e50;
}

.nav-item.footer{
  color: rgb(255, 0, 0);
  margin: auto;
  padding-left: 20px;
}
.nav-footer{
  color: #000000;
  text-decoration: none;
}
.nav-footer:hover{
  color: #ff0000;
  text-decoration: none;
}

#footer{
  display:flex; 
  padding:20px;
}


#basicform{
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
  width: fit-content;
  height: auto;
}

#introtext{
  margin: auto;
  padding:10px;
  color: white;
}

#videocontent{
  display: flex;
  background-color: #222222;
  height: auto;
  margin: auto;
} 
#video{
  padding: 20px;
  margin: auto;
}
#content{
  color: #f0f0f0;
  margin: auto;
  padding: 20px;
}

.title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222222; padding-bottom: 20px; 
  text-align: center;
}

#services{
  margin: auto;
  padding: 160px;
}

.card{
  border-radius: 10px;
  height: 100%;
  text-align: center;
}
.card-title{
 text-decoration: underline;
}

.card:hover .card-img-top{
  cursor: pointer;
  opacity: 0.5;
}
.card:hover .card-body{
  cursor: pointer;
}

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 2s ease-in 1 normal forwards;
       -o-animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
       -moz-transform: translateY(100%);
         -o-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}



@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px){}


@media (max-width: 800px) {
  #services{
    padding: 20px;
  }
}

@media(max-width:500px){
  #services{
    padding:10px;
    width: fit-content;
  }
  #footer{
    flex-direction: column;
  }
  #videocontent{
    flex-direction: column;
  }
  #intr{
    flex-direction: column;
    padding-right: 20px;
  }
  #basicform{
    margin: auto;
    display: none;
  }
  .form-field input{
    padding:2px;
  }
}

@media(min-width : 300px){
  #intro{
    flex-direction: column;
  }
  .col{
    padding: 10px;
  }
}
@media(max-width:300px){
  .container{
    width: 100%;
  }
}

@media(max-width:400px){
  #services{
    padding: 10px;
  }
}






